{% extends 'base.html' %}

{% block title%}
add Page
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="container">
    <div class="main">
        <h1>Add New ad</h1>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn" type="submit" value="ADD">

        </form>
    </div>
</div>
{% else %}
<div class="container">
    <div class="main">
        <h1>You can't add whithout login</h1>
        <h3>Please login <a id="login" href="{% url 'login'%}">here</a> or <a id="login" href="{% url 'register'%}">Register</a></h3> 

    </div>
</div>
{% endif %}
{% endblock %}