{% extends 'base.html' %}

{% block title %}
add detalis
{% endblock %}


{% block body %}
<div class="container">
    <div class="main">
        <h1><strong> Detalis:</strong></h1>
        <div id="top">
            <p id="name"> Name: {{ad.name}}             <p id="date1">{{ad.date}}</p>
        </p>
        <br>
            <p id='city'>City: {{ad.city}}</p>
        </div>
        <p id="about">About: <br>
             {{ad.body}} <br> 
             <img src="{{ad.picture.url}}" alt="Cover Image" width="100px">
        </p>
        <p id="phone"> Phone: {{ad.Phone_number}}</p>
    </div>
</div>
{% endblock %}