{% extends 'base.html' %}

{% block title%}
    Home Page
{% endblock %}


{% block body %}
    <div class="container">
        <h1 class="text">welcome to our website</h1>
        <h3 class="text">i hope you find what you need</h3>
        {% for i in adds %}
        <div class="adds">
            <p>{{i.name}}</p>
            <p id="date">{{i.date}}</p>
            <p>{{i.city}}</p>
            <p id="pic"><img src="{{i.picture.url}}" alt="Cover Image" width="100px"></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}