
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.8rem;
    background-color: rgb(80, 159, 165);
}
a{
    text-decoration: none;
    color: gray;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
.btn {
    width: 100%;
    background-color:rgb(36, 104, 109);
    color:white;        
    padding: 10px;
    outline: none;
    border: none;
}
.btn:hover{
    background-color: rgb(80, 159, 165);

}

#navbar{
    background-color:rgb(43, 127, 133);
    overflow:hidden;
}
#navbar h1{
    float:left;
    padding-left:20px;
    padding-top: 20px;
}
#navbar h1 a{
    color: white;
}
#navbar h1 a:hover{
    color:bisque;
}
#navbar ul{
    float: right;
    list-style-type: none;
}
#navbar a{
    color: white;
    

}
#navbar ul li a:hover{
    background-color:rgb(31, 92, 97);
    color:white;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 20px;
}
#navbar ul li{
    float: left;
}


/* adds */
.adds{
    padding: 2px;
    border: 5px white solid;
    color: gray;
    background-color:#f4f4f4f4;
    overflow: hidden;
}

/* footer */
#footer{
    text-align: center;
    background-color:rgb(36, 104, 109);
    color:whitesmoke;
    padding: 10px;

}
.clr{
    clear: both;
}

.mid{
    background-color: black;
}


/* add */
.container{
    margin: 10px auto;
    width: 60%;
    height: 60%;
}


.main{
    width: 70%;
    height: 70%;
    margin: 20px auto!important;
    padding:20px;
    background-color: #f4f4f4f4;
    border-radius: 5px ;

}
label,input {
    display: block;
    padding: 2px;
    width: 100%;
}
/* index */
.detail{
    float: left;
}
img{
    float: right;
    padding-right: 10px;
    width: 15%;
}
#info{
    color:blue;
}
#info:hover{
    text-decoration-line: underline;
}