
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.7rem;
    background-color: rgb(80, 159, 165);
}
a{
    text-decoration: none;
    color: gray;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
.btn {
    width: 30%;
    background-color:rgb(196, 189, 189);
    color: black;        
    padding: 10px;
}
.container{
    width: 1100px;
    margin: 0 auto;
    overflow:auto;
    padding: 10px 20px;
} 
#navbar{
    background-color:rgb(43, 127, 133);
    overflow:hidden;
}
#navbar h1{
    float:left;
    padding-left:20px;
    padding-top: 20px;
}
#navbar h1 a{
    color: white;
}
#navbar ul{
    float: right;
    list-style-type: none;
}
#navbar a{
    color: white;
    

}
#navbar a:hover{
    background-color:rgb(82, 68, 31);
    color:rgb(187, 172, 216);
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 20px;
}
#navbar ul li{
    float: left;
}


/* adds */
.adds{
    padding: 2px;
    border: 5px white solid;
    color: gray;
    background-color:#f4f4f4f4;
}

/* footer */
#footer{
    text-align: center;
    background-color:rgb(36, 104, 109);
    color:rgb(187, 172, 216);
    padding: 10px;
}
.clr{
    clear: both;
}

.mid{
    background-color: black;
}


/* add */
.add .container form{
    background-color:#f4f4f4f4;
    margin: 0 auto;
    padding-left: 20%;
}
label,input {
    display: block;
    padding: 5px;
}
/* index */
.detail{
    float: left;
}
img{
    float: right;
}